.App{
  width: 100vw;
  height: 100vh;
  .navBar_container {
    padding: 0 3rem;
    border-bottom: solid 1px #dadce0;
    display: flex;
    justify-content: space-between;
    .title_container{
      display: flex;
      align-items: center;
      .title{
        font-size: 1.5rem;
        font-weight: 500;
        color: #5f6368;
        .google_title{
          font-weight: 600;
        }
      }
      .logoGoogleFonts{
        width: 3.2em;
        height: 1.6em;
      }
    }
    .lists_container{
      display: flex;
      .list-name_container{
        display: flex;
        align-items: center;
        .list_item:hover{
          background-color: #f2f2f2;
        }
      }
      .list-icon_container{
        display: flex;
        align-items: center;
        .list_item {
          background-color: #ffffff;
          border: none;
        }
      }
    }
  }
  .list_item{
    display: inline-block;
    padding: 1.2rem 2.2rem;
    color: #5f6368;
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

}